.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    border: solid rgb(218, 216, 216);
    margin-top: 0px;
}
.imgr{
   
    width: 350px;
    height: 300px;
display: flex;
justify-content: center;
}
.img{
padding-top: 60px;
}